[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.10"

[scripts]
server = "python main.py"
test   = "python test.py"
